body {
  background-color:#fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial;
  color:#444;
}
#outer {

}

#inner {
  width:700px;
  margin:auto;
}

h1 {
  font-size:3em;
  text-shadow: 1px 2px 3px #2A2A2A;
  text-align:center;
}

#haw {
  color:rgb(156,188,218);
}

#hamburg {
  color:rgb(10,31,99);
}

h3 {
  text-align:center;
}

#grade-box {
  font-size:1.5em;
  margin-top:25px;
}

#grade {
  color:#288A0F;
  font-weight:bold;
  font-size:1.3em;
}

#calculated-points {
  color:#adadad;
  font-size:0.7em;
}

#calculated-points:hover {
  background-color:#ddd;
  color:#777;
}

#infobox {
  padding:4px;
  background-color:#fff;
  margin-top:15px;
  border:4px solid #eee;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  display:none;
}

#infobox table {
  text-align:left;
  width:70%;
  margin:0% 15%;
}

#infobox th, td {
  padding-bottom:5px;
}

ul#courses {
  list-style:none;
  margin-top:25px;
}

ul#courses h2 {
  margin-bottom:15px;
  clear:left;
}

ul#courses .course-title {
  font-size:1.2em;
  color:#cc3300;
  line-height:30px;
  float:left;
}

.course {
  padding:4px;
  margin-bottom:10px;
  background-color:#fff;
  border:4px solid #eee;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  float:left;
  width:684px;
}

ul.grades-list {
  list-style:none;
  width:370px;
  float:right;
  display:block;
  padding-top:2px;
}

ul.grades-list li {

}

ul.grades-list li a {
  float:left;
  padding:3px;
  width:20px;
  height:20px;
  line-height:20px;
  text-align:center;
  margin-right:5px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  text-decoration:none;
  background-color:#eee;
}

ul.grades-list li a.successful {
  width:auto;
  padding:3px 6px;
}

ul.grades-list li a.selected {
  background-color:#888;
  font-weight:bold;
  color:#eee;
}

ul.grades-list li a.selected:visited {
  color:#eee;
}

ul.grades-list li a:visited {
  color:#222;
}

ul.grades-list li a.selected {
  color:#eee;
}

ul.grades-list li a {
  color:#222;
}

#footer {
  color:#666;
  font-size:0.9em;
  text-shadow: 0px 2px 3px #ddd;
  line-height:1.2em;
  margin-bottom:20px;
}

#footer p {
  margin-top:15px;
}

#footer a, a:visited {
  color:#cc3300;
}
